html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #c9b5ab;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a,
a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

nav ol, a {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 1.125rem;
  list-style-type: none;
  color: #8f2440;
}

figcaption {
  font-family: "PT Serif", italic;
  font-style: italic;
  text-align: center;
}

.dfn {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #3f1622;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

.chris {
  font-size: .8rem;
}

dt {
  font-weight: bold;
}
